apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
    include.release.openshift.io/self-managed-high-availability: "true"
  creationTimestamp: null
  name: configs.cluster-hosted-net-services.openshift.io
spec:
  group: cluster-hosted-net-services.openshift.io
  names:
    kind: Config
    listKind: ConfigList
    plural: configs
    singular: config
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Config is the Schema for the configs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ConfigSpec defines the desired state of Config
            properties:
              dns:
                properties:
                  apiresolution:
                    enum:
                    - Enable
                    - Disable
                    type: string
                  appsresolution:
                    enum:
                    - Enable
                    - Disable
                    type: string
                  nodesresolution:
                    enum:
                    - Enable
                    - Disable
                    type: string
                type: object
              loadbalancer:
                properties:
                  apiloadbalance:
                    enum:
                    - Enable
                    - Disable
                    type: string
                  defaultingressha:
                    enum:
                    - Enable
                    - Disable
                    type: string
                type: object
            type: object
          status:
            description: ConfigStatus defines the observed state of Config
            properties:
              apivipowner:
                type: string
              ingressvipowner:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
